<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>star</title>
    <link rel="stylesheet" href="/components/star/star.css">
</head>

<body>

    <section class="stats-section">
        <div class="stats-container">
            <div class="stat-box">
                <h1>$65 M</h1>
                <p>Generate sales</p>
            </div>
            <div class="stat-box">
                <h1>58%</h1>
                <p>Grew revenue</p>
            </div>
            <div class="stat-box">
                <h1>12</h1>
                <p>Countries</p>
            </div>
            <div class="stat-box">
                <h1>16k+</h1>
                <p>Grew customers</p>
            </div>
        </div>
    </section>

</body>

</html>