<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>news</title>
    <link rel="stylesheet" href="/components/news/news.css">
</head>

<body>

    <section class="news-section">
        <div class="news-header">
            <h1>Whats new on <span class="highlight">Trustco.</span> ?</h1>
            <a href="#" class="see-all">See All →</a>
        </div>

        <div class="news-container">
            <div class="news-card">
                <img src="/image/news1.png" alt="News 1">
                <div class="news-content">
                    <p class="date">23 Nov 2022, <span>by Amanda Hugh</span></p>
                    <h3>What Makes an Authentic Employee Profile?</h3>
                    <p class="description">I'm totally unconvinced that two people can find a person they haven't known
                        previously...</p>
                    <a href="#" class="read-story">Read Story →</a>
                </div>
            </div>

            <div class="news-card">
                <img src="/image/news2.png" alt="News 2">
                <div class="news-content">
                    <p class="date">15 Nov 2022, <span>by Sofia Kent</span></p>
                    <h3>Why Does It Matter to be Authentic Employee?</h3>
                    <p class="description">I'm totally unconvinced that two people can find a person they haven't known
                        previously...</p>
                    <a href="#" class="read-story">Read Story →</a>
                </div>
            </div>

            <div class="news-card">
                <img src="/image/news3.png" alt="News 3">
                <div class="news-content">
                    <p class="date">23 Sep 2022, <span>by Jason Bone</span></p>
                    <h3>What Makes an Authentic Employee Profile?</h3>
                    <p class="description">I'm totally unconvinced that two people can find a person they haven't known
                        previously...</p>
                    <a href="#" class="read-story">Read Story →</a>
                </div>
            </div>
        </div>
        <a href="#" class="mob-see-all">See All →</a>
    </section>

</body>

</html>