.banner {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 60px;
    margin: auto;
    background-color: black;
    text-align: left;
}

.banner-content {
    max-width: 500px;
}

.banner-content h1 {
    font-size: 36px;
    font-weight: bold;
    color: #fff;
    margin-bottom: 20px;
}

.cta-button {
    background-color: #fbc02d;
    color: white;
    font-size: 18px;
    font-weight: bold;
    padding: 12px 24px;
    border: none;
    border-radius: 30px;
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 8px;
    margin-bottom: 10px;
}

.cta-button span {
    font-size: 20px;
    font-weight: bold;
}

.arrow-banner {
    background-color: #e1ac27;
    padding: 7px;
    border-radius: 50%;
}

.no-credit {
    font-size: 14px;
    color: #ccc;
}

.banner-image {
    position: relative;
}

.hero-image img {
    width: 350px;
    height: auto;
    border-radius: 10px;
}

.decor-icons {
    position: absolute;
    bottom: -20px;
    right: -20px;
    display: flex;
    gap: 15px;
}

.icon {
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    font-weight: bold;
    position: absolute;
}

.star {
    background: #043A53;
    color: white;
    margin-left: -265px;
    margin-top: -132px;
}

.search {
    background-color: #FBC02D;
    color: white;
    margin-top: -335px;
    margin-left: -115px;
}

.crown {
    background-color: gray;
    color: white;
    margin-left: -720px;
    margin-top: -155px;
}

@media (max-width: 768px) {
    .banner {
        flex-direction: column;
        text-align: center;
    }

    .decor-icons {
        display: none;
    }

    .banner-content {
        max-width: 100%;
    }

    .banner-image img {
        width: 250px;
    }

    .decor-icons {
        right: 50%;
        transform: translateX(50%);
    }
}