<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>banner</title>
    <link rel="stylesheet" href="/components//banner/banner.css">
</head>

<body>

    <section class="banner">
        <div class="banner-content">
            <h1>Take Your Customer Service To The Next Level</h1>
            <button class="cta-button">
                Get 14 Days Free Trial <span class="arrow-banner">→</span>
            </button>
            <p class="no-credit">No credit card required</p>
        </div>
        <div class="banner-image">
            <img src="/image/banner.png" alt="Woman with Laptop">
            <div class="decor-icons">
                <p class="icon star"><i class="far fa-star"></i></p>
                <div class="icon search"><i class="fas fa-search"></i></div>
                <div class="icon crown"><i class="fas fa-crown"></i></div>
            </div>
        </div>
    </section>

</body>

</html>