/* General Styles */
body {
    font-family: sans-serif;
    margin: 0;
    padding: 0;
}

.button {
    background: #083b66;
    color: white;
    padding: 12px 24px;
    border: none;
    border-radius: 30px;
    cursor: pointer;
    width: fit-content;
    text-wrap: nowrap;
}

.button:hover {
    background: #f2b632;
    color: black;
}
