<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/components/bridge/bridge.css">
    <title>bridge</title>
</head>

<body>
    <section class="bridge-section">
        <div class="bridge-container">
            <div class="image-container">
                <img src="/image/business.png" alt="Business Meeting">
            </div>

            <div class="badge-text-content">
                <h1>Building bridges between <span>companies and customers</span></h1>
                <p>With evaluating in-depth variety of data sets and including the speed of tech adaptation we can build
                    bridges between any companies and their customers.</p>
                <button class="button">View Reports <span class="arrow">→ </span></button>
            </div>
        </div>
    </section>

</body>

</html>