<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>benefits</title>
    <link rel="stylesheet" href="/components/benefits/benefits.css">
</head>

<body>
    <section class="benefits-section">
        <div class="benefits-container">
            <div class="beneficial-content">
                <span class="button">Beneficial</span>
                <h1>Beneficial <br> Elements</h1>
                <p>An awesome & powerful tools for your business, increase business revenue</p>
            </div>

            <div class="cards">
                <div class="beneficial-card">
                    <img src="/image/beneficial1.png" alt="Happy Customers">
                    <h3>Happy Customers</h3>
                    <p>Productive agents are happy agents. Give them all the support tools and information they need to
                        best serve your customers.</p>
                </div>

                <div class="beneficial-card">
                    <img src="/image/beneficial2.png" alt="Best Integrations">
                    <h3>Best Integrations</h3>
                    <p>Our software is powerful enough to handle the most complex business, yet flexible enough to scale
                        with you as you grow.</p>
                </div>

                <div class="beneficial-card">
                    <img src="/image/beneficial3.png" alt="Grow Without Problems">
                    <h3>Grow Without Problems</h3>
                    <p>With evaluating in-depth variety of data sets and including the speed of tech adaptation we can
                        build bridges between any companies and their customers.</p>
                </div>
            </div>
        </div>
    </section>
</body>

</html>