<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>hero</title>
    <link rel="stylesheet" href="/components/hero/hero.css">
</head>

<body>

    <header class="hero">
        <div class="hero-content">
            <div id="hero1">
                <img src="image/hero1.png" alt="Hero1 Image">
            </div>
            <div>
                <h1>Find High-Potential <br> Customers with <span class="highlight">Trustco.</span></h1>
                <p>We provide sales teams and professionals with the knowledge, skill, and discipline they need to be
                    10x
                    more successful.</p>
                <div class="cta-buttons">
                    <button class="button">Get Started</button>
                    <button class="watch-video"><span class="arrow">▶</span> Check Our Video</button>
                </div>
                <div class="ratings">
                    <span class="trustpilot">⭐ Trustpilot 4900+ 5 Stars</span>
                </div>
            </div>
            <div id="hero3">
                <img src="image/hero2.png" alt="Hero2 Image">
            </div>
            <div id="hero4">
                <img src="image/hero-mobile.png" alt="Hero1 Image">
            </div>
        </div>
    </header>

</body>

</html>