<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>brands</title>
    <link rel="stylesheet" href="/components/brands/brands.css">
</head>

<body>

    <section class="trusted-brands">
        <p class="trusted-text">Trusted by the best in the world</p>
        <div class="brand-logos">
            <img src="/image/google.png" alt="Google">
            <img src="/image/atlassian.png" alt="Atlassian">
            <img src="/image/canon.png" alt="Canon">
            <img src="/image/walmart.png" alt="Walmart">
            <img src="/image/amazon.png" alt="Amazon">
        </div>
    </section>

</body>

</html>