<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/components/contact/contact.css">
    <title>contact</title>
</head>

<body>
    <section class="contact-top">
        <h1>We are here to help</h1>
        <div class="container">
            <p>Contact us if you have any questions about our company. Our best team will provide your answer within a
                few hours.</p>
        </div>
        <div class="contact-cards">
            <div class="card">
                <img src="/image/email.png" alt="Email Icon">
                <h3>Email Us</h3>
                <p>Ask anything by emailing us and we will respond within a few days.</p>
                <a href="#">Send Email →</a>
            </div>
            <div class="card">
                <img src="/image/location.png" alt="Location Icon">
                <h3>Drop In</h3>
                <p>You can meet us at our office and discuss the details of your questions.</p>
                <a href="#">Get Direction →</a>
            </div>
            <div class="card">
                <img src="/image/phone.png" alt="Phone Icon">
                <h3>Call Us</h3>
                <p>Call us if your question requires an immediate response.</p>
                <a href="#">Send Email →</a>
            </div>
        </div>
    </section>

    <section id="contact-section">
        <div class="container" style="gap: 1px;">
            <h1>Leave us a message</h1>
            <p>Contact us if you have any questions. Our best team will provide your answer within a few hours.</p>

            <form>
                <div class="input-group">
                    <input type="text" placeholder="Name">
                    <input type="email" placeholder="Email Address">
                </div>
                <div class="input-group">
                    <input type="text" placeholder="Company Name">
                    <input type="text" placeholder="Contact Number">
                </div>
                <textarea placeholder="How can we help?"></textarea>

                <div class="Terms">
                    <div class="checkbox">
                        <input type="checkbox" id="terms">
                        <label for="terms">I agree with the <a href="#">Terms & Conditions</a></label>
                    </div>

                    <button type="submit" id="submit" class="button">Submit</button>
                </div>
            </form>
        </div>
    </section>

</body>

</html>