<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>video</title>
    <script defer src="/script.js"></script>
    <link rel="stylesheet" href="/components/video/video.css">
</head>

<body>
    <section class="hero-section">
        <div class="container">
            <div class="text-content">
                <h1>High-Level Sales <br>
                    <span class="highlight">Teams & Professionals</span>
                </h1>
                <p style="color: white;">
                    Circuit is flexible and affordable and offers you exceptional support to achieve your career goals.
                    Circuit is a Global training provider based across the UK that specialises.
                </p>
            </div>
            <div class="image-content">
                <div class="video-container">
                    <img src="image/video.png" alt="Team Discussion">
                    <div class="play-button">▶</div>
                </div>
            </div>
        </div>
    </section>

</body>

</html>