<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>footer-bottom </title>
    <link rel="stylesheet" href="/components/footer-bottom/footer-bottom.css">
</head>

<body>

    <footer class="footer-bottom">
        <div class="footer-bottom-container">
            <p class="copyright">©2022-2023 Trustco.</p>
            <div class="footer-links">
                <a href="#">Term of Service</a>
                <a href="#">Privacy Policy</a>
                <a href="#">Language</a>
            </div>
            <div class="language">
                <span class="globe-icon">🌐</span>
                <select>
                    <option>English</option>
                    <option>Español</option>
                    <option>Français</option>
                </select>
            </div>
        </div>
    </footer>

</body>

</html>